<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Band</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    
    <!-- Navbar -->
    <div id="create-navbar">
        <!-- Page Title -->
        <h1 id="create-title">Rock on, {{user.first_name}} {{user.last_name}}!</h1>
        <!-- Nav Buttons -->
        <div id="create-buttons">
            <!-- Back to recipes -->
            <a href="/bands/my_bands">My Bands</a>
            <a href="/bands">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <!-- Band Form -->
    <div id="band-form">
        <!-- Flashed Messages -->
        {% for message in get_flashed_messages() %}
            <p class="error">{{message}}</p>
        {% endfor %}
        
        <!-- Band Title / Create A Band -->
        <h2>Create A Band</h2>
        
        <!-- Form -->
        <form action="/bands/store" method="POST">
            <!-- Band Name -->
            <div class="band-input">
                <label>Band Name:</label><br>
                <input type="text" name="name">
            </div>
            <!-- Band Genre -->
            <div class="band-input">
                <label>Music Genre:</label><br>
                <input type="text" name="genre">
            </div>
            <!-- Band Home City -->
            <div class="band-input">
                <label>Home City:</label><br>
                <input type="text" name="city">
            </div>

            <!-- Hidden Input for User ID -->
            <input type="hidden" name="user_id" value="{{session['uid']}}">

            <!-- Submit Button -->
            <button>Create</button>
        </form>
    </div>

</body>
</html>